:root {
    --mc: #09847F;
    --sc: #B4613D;
    --lc: #dddddd;
    --wc: #ffffff;
    --dc: #444444;
    --gc: #f9f9f9;
}

.inner {
    max-width: 1440rem;
    margin: 0 auto;
    padding: 0 15rem;
}

.btn {
    display: inline-block;
    font-size: 20rem;
    padding: 20rem 30rem;
    border-radius: 30rem;
}

.btn.wc {
    color: var(--wc);
    border: 3px solid var(--wc);
}

.btn.mc {
    color: var(--mc);
    border: 3px solid var(--mc);
}

.btn::after {
    content: "\f1be";
    font-family: bootstrap-icons;
    vertical-align: middle;
    margin: 0 0 0 15rem;
}

.section {
    padding: 100rem 0;
}

.section.gc {
    background: var(--gc);
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.header.on {
    background: var(--wc);
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

.header .header_wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 120rem;

    transition: height .5s;
}

.header.on .header_wrap {
    height: 80rem;
}

.header h1 {
    font-size: 0;
}

.header h1 img {
    height: 39rem;
}

.header.on h1 img:last-child {
    filter: invert();
}

.gnb .main_menu {
    display: flex;
}

.gnb .main_menu>li {
    position: relative;
    padding: 0 30rem;
}

.header .gnb .main_menu a {
    display: block;
    color: var(--wc);
    font-size: 18rem;
    line-height: 120rem;
}

.header.on .gnb .main_menu a {
    color: var(--dc);
}

.gnb .main_menu .sub_menu {
    position: absolute;
    top: 130rem;
    left: 50%;
    transform: translate(-50%, 0);
    background: var(--wc);
    width: 180rem;
    text-align: center;

    padding: 15rem 0;
    border-radius: 20rem;
    border: 2px solid var(--lc);

    opacity: 0;
    visibility: hidden;

    transition: .5s;
}

.gnb .main_menu>li:hover .sub_menu {
    top: 100rem;
    opacity: 1;
    visibility: visible;
}


.header.on .gnb .main_menu>li:hover .sub_menu {
    top: 90rem;
}

.gnb .sub_menu li~li {
    border-top: 1px solid var(--lc);
}

.header .gnb .sub_menu a {
    display: block;
    color: var(--dc);
    font-size: 15rem;
    line-height: 40rem;
}

.login_area .member {
    display: flex;
    gap: 30px;
}

.login_area .member a {
    font-size: 15rem;
    color: var(--wc);
}

.header.on .login_area .member a {
    color: var(--dc);
}

.login_area .member li {
    position: relative;
}

.login_area .member li~li::before {
    content: "";
    position: absolute;
    top: 50%;
    left: -15rem;
    width: 2px;
    height: 2px;
    transform: translate(-50%, -50%);
    background: var(--wc);
}

.header.on .login_area .member li~li::before {
    background: var(--dc);
}

.main_visual {
    position: relative;
    height: 100vh;
}

.main_slide {
    border-radius: 0 0 180rem 0;
    overflow: hidden;
}

.main_slide .itm {
    position: relative;
    overflow: hidden;
    height: 100vh;
}

.main_slide .itm .slide-image {
    position: absolute;
    inset: 0 0 0 0;
}

.main_slide .itm .content {
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
    z-index: 999;
}

.main_slide .itm .img_box {
    margin: 0 0 50rem 0;
}

.main_slide .itm p {
    color: var(--wc);
    margin: 0 0 50rem 0;
    font-size: 17rem;
    font-weight: 300;
    line-height: 26rem;
    transform: translate(-100rem, 0);
    opacity: 0;
    transition: .5s 1s;
}

.main_slide .itm.on p {
    opacity: 1;
    transform: translate(0, 0);
}

.main_slide .itm .btn {
    opacity: 0;
    transform: translate(100rem, 0);
    transition: .5s 1.5s;
}

.main_slide .itm.on .btn {
    opacity: 1;
    transform: translate(0, 0);
}

/* .swiper-wrapper {
    transition-timing-function: cubic-bezier(.78, .15, 1, .47);
} */

.main_slide .itm01 .slide-image {
    height: 100vh;
    background: url(../images/img_visual01.jpg) no-repeat center center/cover;
}

.main_slide .itm02 .slide-image {
    height: 100vh;
    background: url(../images/img_visual02.jpg) no-repeat center center/cover;
}

.main_visual .arrows {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 1600rem;
    width: 100%;
    z-index: 998;
}

.main_visual .arrows i {
    position: absolute;
    top: 0;
    cursor: pointer;
}

.main_visual .arrows .left {
    left: 15rem;
}

.main_visual .arrows .right {
    right: 15rem;
}

.main_visual .arrows i::before {
    font-size: 40rem;
    color: var(--wc);
    padding: 30rem;
    background: rgba(0, 0, 0, 0.3);
    border-radius: 50%;
}

.main_visual .btn_cicle {
    position: absolute;
    bottom: -100rem;
    right: 100rem;
    z-index: 999;

    width: 200rem;
    height: 200rem;
}

.main_visual .btn_cicle .case {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 200rem;
    height: 200rem;
    background: var(--mc);
    color: var(--wc);
    font-size: 20rem;
    border-radius: 50%;
    text-align: center;
    line-height: 26rem;
}

.main_visual .btn_cicle:hover .case {
    animation: flipInY 1s infinite;
}

.main_visual .btn_cicle .case::before {
    content: "";
    display: block;
    width: 26rem;
    height: 30rem;
    background: url(../images/icon_apply.svg) no-repeat center center/cover;
    margin: 0 0 20rem 0;
}

/* .sec {
    position: relative;
    padding: 100px 0;
    height: 60vh;
}

.sec::before {
    content: "";
    position: absolute;
    top: -100px;
    right: 200px;
    width: 100px;
    height: 100px;
    background: tomato;
    border-radius: 50%;
    z-index: 999;

    opacity: 0;
    transform: scale(0);
}

.sec.on::before {
    opacity: 1;
    transform: scale(1);
}

.sec .inner {
    display: flex;
    gap: 60px;
}

.sec .inner .itm {
    flex: 1;
    height: 300px;
    background: tomato;

    opacity: 0;
    transform: translate(0, 300px);
    transition: 0.5s;
}

.sec.on .inner .itm {
    opacity: 1;
    transform: translate(0, 0);
} */

.main_content {}

.main_content .content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30rem;
}

.main_content .content>* {
    padding: 80rem 60rem;
}

.main_content .content .left {
    position: relative;
    border-radius: 50rem;
    background: var(--gc);
}

.main_content .content .left::after {
    content: "";
    position: absolute;
    bottom: -20rem;
    right: 0;
    width: 400rem;
    height: 150rem;
    background: url(../images/img_logo2.svg) no-repeat right bottom;
    filter: invert();
}

.main_content .content h3 {
    font-size: 24rem;
    font-weight: 700;
    margin: 0 0 17rem 0;
}

.main_content .content p {
    font-size: 15rem;
    font-weight: 300;
    line-height: 20rem;
    margin: 0 0 57rem 0;
}


.footer {
    height: 100vh;
}